<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Pejsemesteren">
  <meta name="robots" content="noindex, nofollow" />
  <title>404 fejl</title>

 
  <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="icon" type="image/png" href="../../../../static/sources/img/icon.png">
  <link href="../../../../static/sources/Hover-master/css/hover.css" rel="stylesheet">
  <!--http://ianlunn.github.io/Hover/-->

  <style>
    body {
      overflow-x: hidden;
      background-color: #F5F5F5;
    }
  </style>

  <link href="../../../../static/sources/css/style.css" rel="stylesheet">
</head>
<body>
  <h1>Side ikke fundet</h1>
  <p>Bekræft at du indtastede den rigtige adresse</p>
   <div class="userPrompt">
      <a href='http://pejsemesteren.dk/'><img src="../../../../static/sources/img/404.png" alt="" /></a>
      <div>

  <p>Med respekt, <a href = 'http://pejsemesteren.dk/'>pejsemesteren.dk</a></p>
</body>

</html>
